<div class="row">
	<div class="col-xs-12">
		<h2>Candidate Profile</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
		<img class="clipme" src={{model.pic_url}}>
	</div>
	<div class="col-xs-8">
	</div>
</div>